{% extends 'layout.html.twig' %}

{% block header %}{# Reprend l'affiche de l'image d'accueil et du menu #}
  {{ parent() }}
{% endblock %} 

{% block reduction_image %}{# Affiche l'image d'accueil en taille reduite #}
  {{ parent() }} 
{% endblock %}

{% block index %}{# Vide pour ne pas afficher l'image en grande taille #}
{% endblock %}    


{% block content %}
<div class="container-fluid"> 
    <div class="row">  
        <div class="col-md-12">
            <h1>Gestion des clubs</h1>

            <a href="{{ path('app_admin_club_edit') }}" class="btn btn-primary">Ajouter un club</a>
            
<<<<<<< HEAD
=======
            <div class="table_scroll">
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>Id</th>
                        <th>Date de création</th>
                        <th>Date de modification</th>
                        <th>Actions</th>
                        <th>Nom</th>
                        <th>N° association</th>
                        <th>Année de création</th>
                        <th>Sigle</th>
                        <th>Couleurs</th>
                        <th>Logo</th>
                        <th>Stade</th>
                        <th>Statut</th>
                        <th>Président</th>
                        <th>Ville</th>
                        <th>Adresse</th>
                        <th>Email</th>
                        <th>Téléphone</th>
                    </tr>
                    {% for club in clubs %}
                        <tr>
                            <td>{{ club.id }}</td>
                            <td>{{ club.createdAt|date('d/m/Y h:i:s')}}</td>
                            <td>{% if club.updatedAt is not null %}{{ club.updatedAt|date('d/m/Y h:i:s') }}{% endif %}</td>
                            <td>
                                <!--<div class="btn-group"> -->
                                    <a type="button" href="{{ path('app_admin_club_edit', {id: club.id}) }}" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i> Modifier</a>
                                    <a type="button" href="{{ path('app_admin_club_delete', {id: club.id}) }}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Supprimer</a>
                                <!--</div> -->
                             </td>
                            <td>{{ club.nom }}</td>
                            <td>{{ club.assoc }}</td>
                            <td>{{ club.anneeCreation }}</td>
                            <td>{{ club.sigle }}</td>
                            <td>{{ club.couleurs }}</td>
                            <td>
                            {% if club.logo is not null %}
                    <div>
                        <img src="{{ asset('upload/' ~ club.logo) }}" width="100px">
                    </div>
                            {% endif %}
                            </td>
                            <td>{{ club.stade }}</td>
                            <td>{{ club.statut }}</td>
                            <td>{{ club.president }}</td>
                            <td>{{ club.ville }}</td>
                            <td>{{ club.adresse }}</td>
                            <td>{{ club.email }}</td>
                            <td>{{ club.telephone }}</td>
                        </tr>
                    {% endfor %}    
                </table>
            </div>
>>>>>>> 227e5fd8498bd43c5c4fbe692e2b13e5e743eef1
        </div>
    </div> 
</div>            
{% endblock %}



