{% extends 'layout.html.twig' %}

{% block content %} 
    <div class="col-md-6 col-md-offset-3">
    <h1>Inscription</h1>
    {{ form_start(form) }}{# ouvre la balise form #}
    {{ form_row(form.lastname) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword) }}
    <div class="form-btn-group text-center">
        <button type="submit" class="btn btn-primary">
            Enregistrer
        </button>
    </div>
    {{ form_end(form) }}{# ferme la balise form #}
    </div>
{% endblock %}
