{% extends 'layout.html.twig' %}

{% block header %}{# Reprend l'affiche de l'image d'accueil et du menu #}
  {{ parent() }}
{% endblock %} 

{% block reduction_image %}{# Affiche l'image d'accueil en taille reduite #}
  {{ parent() }} 
{% endblock %}

{% block index %}{# Vide pour ne pas afficher l'image en grande taille #}
{% endblock %}    


{% block content %}
    <h1>Edition Rencontres</h1>
    {{ form_start(form) }}{# ouvre la balise form #}
    {{ form_row(form.date) }}
    <div class="form-btn-group pull-right">
        <button type="submit" class="btn btn-primary">
            Enregistrer
        </button>
        <a href="{{ path('app_admin_rencontre_index') }}" class="btn btn-default">Retour</a>
    </div>
    {{ form_end(form) }}{# ferme la balise form #}
{% endblock %}
