{% extends 'layout.html.twig' %}

{% block header %}{# Reprend l'affiche de l'image d'accueil et du menu #}
  {{ parent() }}
{% endblock %} 

{% block reduction_image %}{# Affiche l'image d'accueil en taille reduite #}
  {{ parent() }} 
{% endblock %}

{% block index %}{# Vide pour ne pas afficher l'image en grande taille #}
{% endblock %}    


{% block content %}
<div class="container"> 
    <div class="row">  
        <div class="col-md-8 col-md-offset-2"> 
            {% if(nbsaisons is defined and nbsaisons == false) %}
                          <div class="jumbotron">
                            <h2>Pour accéder à la gestion de vos rencontres, <br>vous devez d'abord créer une saison</h2>
                           
                            <div class="text-center bouton"><p><a class="btn btn-success btn-lg" href="{{ path('app_admin_saison_index') }}" role="button">Créer ma 1ère saison</a></p></div>
                          </div>      
            {% else %}
            <h1>Gestion des rencontres<a class="btn btn-primary pull-right" href="{{path('app_admin_rencontre_edit')}}">Ajouter une rencontre</a></h1>

            <table class="table table-striped table-bordered table-hover">
                <tr>
                    <th>Id</th>
                    <th>Date de création</th>
                    <th>Date de modification</th>
                    <th>Date de la rencontre</th>
                    <th>ID Equipe 1</th>
                    <th>ID Equipe 2</th>
                    <th>Lieu</th>            
                    <th width="200px"></th>
                </tr>
                {% for rencontre in rencontres %}
                    <tr>
                        <td width="10px">{{ rencontre.id }}</td>
                        <td width="150px">{{ rencontre.createdAt|date('d/m/Y h:i:s')}}</td>
                        <td width="10px">{% if rencontre.updatedAt is not null %}{{ rencontre.updatedAt|date('d/m/Y h:i:s') }}{% endif %}</td>
                        <td width="150px">{{ rencontre.date|date('d/m/Y')}}</td>
                        <td width="150px">{{ rencontre.equipe1}}</td>
                        <td width="150px">{{ rencontre.equipe2}}</td>
                        <td width="150px">{{ rencontre.lieu}}</td>
                        <td>
                            <a href="{{ path('app_admin_rencontre_edit', {id: rencontre.id}) }}" class="btn btn-primary">Modifier</a>
                            <a href="{{ path('app_admin_rencontre_delete', {id: rencontre.id}) }}" class="btn btn-danger">Supprimer</a>
                        </td>  
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">Aucune rencontre créée pour le moment.</td>
                    </tr>                    
                {% endfor %}                  
            </table>
            {% endif %}
        </div>
    </div> 
</div>      
{% endblock %}
