{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Gestion des rencontres</h1>
    <p>
        <a class="btn btn-primary" href="{{path('app_admin_rencontre_edit')}}">Ajouter une rencontre</a>
    </p>
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>ID Equipe 1</th>
            <th>ID Equipe 2</th>
            <th>Lieu</th>            
            <th width="200px"></th>
        </tr>
        {% for rencontre in rencontres %}
            <tr>
                <td width="10px">{{ rencontre.id }}</td>
                <td width="150px">{{ rencontre.date|date('d/m/Y')}}</td>
                <td width="150px">{{ rencontre.equipe1}}</td>
                <td width="150px">{{ rencontre.equipe2}}</td>
                <td width="150px">{{ rencontre.lieu}}</td>

                
            </tr>
        {% endfor %}    
    </table>
{% endblock %}
