{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Edition de la liste des joueurs</h1>
    {{ form_start(form) }}
    {{ form_row(form.prenom) }}
    {{ form_row(form.rue) }}
    {{ form_row(form.cp) }}
    {{ form_row(form.ville) }}
    {{ form_row(form.tel1) }}
    {{ form_row(form.tel2) }}
    {{ form_row(form.dateNaissance) }}
    <input type="date" name="anniversaire">
    {{ form_row(form.genre) }}
    
    <div class="form-btn-group pull-right">
        <button type="submit" class="btn btn-primary">
            Enregistrer
        </button>
        <a href="{{ path('app_admin_joueur_index') }}" class="btn btn-default">Retour</a>
    </div>
    {{ form_end(form) }}
    
{% endblock %}
