{% extends 'base.html.twig' %}

{% block title %}Club de Foot{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('style/bootstrap.css') }}">
<link rel="stylesheet" href="{{ asset('style/style.css') }}"/>
<link rel="stylesheet" href="{{ asset('style/font-awesome.css') }}"/>
<link rel="stylesheet" href="{{ asset('style/lightbox.css') }}"/>
<link rel="stylesheet" href="{{ asset('style/owl.carousel.css') }}"/>
<link rel="stylesheet" href="{{ asset('style/owl.theme.css') }}"/>
<link rel="stylesheet" href="{{ asset('style/styleperso.css') }}"/>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/SmoothScroll.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('js/easing.js') }}"></script>
    <script src="{{ asset('js/jquery-2.2.3.min.js') }}"></script>
    <script src="{{ asset('js/lightbox-plus-jquery.min.js') }}"></script>
    <script src="{{ asset('js/move-top.js') }}"></script>
    <script src="{{ asset('js/owl.carousel.js') }}"></script>
{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
    <nav class="navbar navbar-inverse">
        <div class="container">
            <a class="navbar-brand">Menu Admin</a>
            <ul class="nav navbar-nav">
                <li><a href="{{ path('app_admin_category_index') }}" class="navbar-brand">Gestion Categories</a></li>
                <li><a href="{{ path('app_admin_article_index') }}" class="navbar-brand">Gestion Articles</a></li>
            </ul>
        </div>
    </nav>
    {% endif %}
    
    
{% block content %}
    {% block menu %}
    {# ancienne navbar normale #}
    <nav class="navbar navbar-default">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_index_index') }}">Blog</a>
        {{ render(controller('App\\Controller\\CategoryController::menu')) }}
            <ul class="nav navbar-nav navbar-right">
                {% if app.user is null %}
                <li><a href="{{ path('app_security_register') }}">Inscription</a></li>         
                <li><a href="{{ path('app_security_login') }}">Connexion</a></li>    
                
                {% else %}
                <li>
                    <a>{{ app.user.fullname }}</a>
                </li>
                <li>
                    <a href="{{ path('app_security_logout') }}">Deconnexion</a>
                </li>
                {% endif %}
            </ul>
    </div>    
</nav>
    {# ancien container #}
{% endblock %}
{% endblock %}
{% endblock %}
