{% extends 'layout.html.twig' %}

{% block header %}{# Reprend l'affiche de l'image d'accueil et du menu #}
  {{ parent() }}
{% endblock %} 

{% block reduction_image %}{# Affiche l'image d'accueil en taille reduite #}
  {{ parent() }} 
{% endblock %}

{% block index %}{# Vide pour ne pas afficher l'image en grande taille #}
{% endblock %}    


{% block content %}
<div class="container"> 
    <div class="row">  
        <div class="col-md-12">     
            <h1>Gestion des membres du staff</h1>

            <table class="table table-striped table-bordered table-hover">
                <tr>
                    <th>Id</th>
                    <th>Date de création</th>
                    <th>Date de modification</th>
                    <th>Prénom</th>  
                    <th>Nom</th>
                    <th>Fonction dans le club</th>   
                    <th>Photo</th>
                    <th>Actions</th>
                </tr>
                {% for staff in staffs %}
                    <tr>
                        <td>{{ staff.id }}</td>
                        <td>{{ staff.createdAt|date('d/m/Y h:i:s')}}</td>
                        <td>{% if staff.updatedAt is not null %}{{ staff.updatedAt|date('d/m/Y h:i:s') }}{% endif %}</td>
                        <td>{{ staff.prenom}}</td>
                        <td>{{ staff.nom}}</td>
                        {% if staff.fonction == 1 %}
                            <td>Dirigeant</td>
                        {% else %}
                            <td>Entraineur</td>
                        {% endif %} 
                        
                        {% if staff.image is not null %}
                            <td align="center"><img src="{{ asset('upload/' ~ staff.image) }}" width="100px"></td> 
                        {% else %}
                            <td align="center"><img src="{{ asset('upload/front_equipes_imgDefaut/img2.png') }}" heigth="75px" width="75px" class="img-responsive"></td>
                        {% endif %} 
                            
                        <td>
                            <a href="{{ path('app_admin_staff_edit', {id: staff.id}) }}" class="btn btn-primary">Modifier</a>
                            <a href="{{ path('app_admin_staff_delete', {id: staff.id}) }}" class="btn btn-danger">Supprimer</a>
                            <a href="{{ path('app_admin_equipe_index', {id: staff.id}) }}" class="btn btn-success pull-right">Ajoutez une équipe</a>
                        </td>  
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">Aucun membre du staff créé pour le moment.</td>
                    </tr>                    
                {% endfor %}                  
            </table>
                <div class="text-center"><a class="btn btn-primary" href="{{path('app_admin_staff_edit')}}">Ajouter un membre du staff</a></div>
        </div>
    </div> 
</div>     
{% endblock %}
