{% extends 'layout.html.twig' %}

{% block header %}{# Reprend l'affiche de l'image d'accueil et du menu #}
  {{ parent() }}
{% endblock %} 

{% block reduction_image %}{# Affiche l'image d'accueil en taille reduite #}
  {{ parent() }} 
{% endblock %}

{% block index %}{# Vide pour ne pas afficher l'image en grande taille #}
{% endblock %}    

{% block content %} 
<div class="container"> 
    <div class="row">  
        <h1 class="titre">Mon Club pour la saison {{ NomderniereSaisonClub.nom }}</h1>
        <hr>
        {% for equipe in listEquipes %}
        <div class="col-md-3"> 
            <div class="thumbnail">
                <div class="caption text-center">
                    <h3 id="equipes_titre">{{ equipe.nom }}</h3>
                    <div class="thumbnail">
                        {% if(equipe.image is not null)%}
                            <img src="{{ asset('upload/' ~ equipe.image) }}" class="img-responsive">
                        {% else %}
                            <img src="{{ asset('upload/front_equipes_imgDefaut/img2.png') }}" heigth="100px" width="100px" class="img-responsive">
                        {% endif %}

                        
                    </div>
                </div>
                    <p>Nom de l'entraineur:</p>
                    <p>Nombre de joueurs: 16</p>
                    <span class=""><a href="{{ path('app_ficheequipe_index', {id: equipe.id}) }}" class="btn btn-primary" role="button">Fiche Equipe</a></span>
                    <span class="pull-right"><a href="#" class="btn btn-primary" role="button">Rencontres</a></span>{#<a href="#" class="btn btn-default" role="button">Button</a></p>#}
            </div>
        </div>
      {% endfor %}
    </div> 
    <hr>
    
</div>              
{% endblock %}
