{% extends 'layout.html.twig' %}

{% block header %}{# Reprend l'affiche de l'image d'accueil et du menu #}
  {{ parent() }}
{% endblock %} 

{% block reduction_image %}{# Affiche l'image d'accueil en taille reduite #}
  {{ parent() }} 
{% endblock %}

{% block index %}{# Vide pour ne pas afficher l'image en grande taille #}
{% endblock %}    

{% block content %} 
<div class="container"> 
    <div class="row">  
        <div class="col-md-8 col-md-offset-2">
            {% if(nbsaisons is defined and nbsaisons == false) %}
                          <div class="jumbotron">
                            <h2>Pour accéder à la gestion de votre Club, <br>vous devez d'abord créer une saison</h2>
                           
                            <div class="text-center bouton"><p><a class="btn btn-success btn-lg" href="{{ path('app_admin_saison_edit') }}" role="button">Créer ma 1ère saison</a></p></div>
                          </div>      
            {% else %}
            <h1 class="titre">Mon Club pour la saison 2017-2018</h1>
            <hr>
            {% for listEquipe in listEquipes %}
            <div class="col-md-3"> 
                <div class="thumbnail">
                    <div class="caption text-center">
                        <h3>{{ listEquipe.nom }}</h3>
                        <div class="thumbnail">
                            <img src="{{ asset('upload/' ~ listEquipe.image) }}" class="img-responsive">
                        </div>
                    </div>
                        <p>Nom de l'entraineur:</p>
                        <p>Nombre de joueurs: 16</p>
                        <span class=""><a href="{{ path('app_ficheequipe_index', {id: listEquipe.id}) }}" class="btn btn-primary" role="button">Fiche Equipe</a></span>
                        <span class="pull-right"><a href="#" class="btn btn-primary" role="button">Rencontres</a></span>{#<a href="#" class="btn btn-default" role="button">Button</a></p>#}
                </div>
            </div>
            {% endfor %}
          {% endif  %}
        </div>  
    </div> 
    
</div>              
{% endblock %}
