{% extends 'layout.html.twig' %}

{% block header %}{# Reprend l'affiche de l'image d'accueil et du menu #}
  {{ parent() }}
{% endblock %} 

{% block reduction_image %}{# Affiche l'image d'accueil en taille reduite #}
  {{ parent() }} 
{% endblock %}

{% block index %}{# Vide pour ne pas afficher l'image en grande taille #}
{% endblock %}    


{% block content %}
    <h1>Édition des articles</h1>
    {{ form_start(form) }}
    {{ form_row(form.image) }}
    {# form.vars.value = l'entité liée au formulaire (l'entité Article)#}
    {% if form.vars.value.image is not null %}
       <img src="{{ asset('upload/' ~ form.vars.value.image.filename) }}" width="100px">
        {{ form_row(form.remove_image) }}
    {% endif %}    
     <div class="form-btn-group pull-right">
        <button type="submit" class="btn btn-primary">
            Enregistrer
        </button>
        <a href="{{ path('app_admin_article_index') }}" class="btn btn-default">Retour</a>
    </div>
    {{ form_end(form) }}
{% endblock %}