{% extends 'layout.html.twig' %}

{% block header %}{# Reprend l'affiche de l'image d'accueil et du menu #}
  {{ parent() }}
{% endblock %} 

{% block reduction_image %}{# Affiche l'image d'accueil en taille reduite #}
  {{ parent() }} 
{% endblock %}

{% block index %}{# Vide pour ne pas afficher l'image en grande taille #}
{% endblock %}    


{% block content %}
<div class="container"> 
    <div class="row">  
        <div class="col-md-12">       
            <h1>Gestion article</h1>
            
            <table class="table table-striped table-bordered table-hover">
                <tr>
                    <th>Id</th>
                    <th>Équipe 1</th>
                    <th>Équipe 2</th>
                    <th>Lieu</th>
                    <th>Date</th>
                    <th>Auteur</th>
                    <th>Titre</th>
                    <th>Contenu</th>
                    <th>Résumé</th>
                    <th>Illustration</th>
                    <th width="200px"></th>
                </tr>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.id }}</td>
                        
                        {% for rencontre in rencontres %}
                        <td>{{ rencontre.equipe1 }}</td>
                        <td>{{ rencontre.equipe2 }}</td>
                        <td>{{ rencontre.lieu}}</td>
                        <td>{{ rencontre.date }}</td>
                        {% endfor %}
                  
                        {% for article in articles %}
                        <td>{{ article.title }}</td>
                        <td>{{ article.content }}</td>
                        <td>{{ article.resume }}</td>
                        {% endfor %}
                        <td>
                            {% if article.image is not null %}
                                <img src="{{ asset('upload/' ~ article.image) }}" width="100px">
                            {% endif %}    
                        </td>
                        <td><a href="{{ path('app_admin_article_edit', {id: article.id}) }}" class="btn btn-primary">Modifier</a>
                        <a href="{{ path('app_admin_article_delete', {id: article.id}) }}" class="btn btn-danger">Supprimer</a></td>  
                    </tr>
                {% endfor %}    
            </table>
            <p>
                <a class="btn btn-primary" href="{{path('app_admin_article_edit')}}">Ajouter un article</a>
            </p>
        </div>
    </div> 
</div>        
        
{% endblock %}

