{% extends 'layout.html.twig' %}

{% block header %}{# Reprend l'affiche de l'image d'accueil et du menu #}
  {{ parent() }}
{% endblock %} 

{% block reduction_image %}{# Affiche l'image d'accueil en taille reduite #}
  {{ parent() }} 
{% endblock %}

{% block index %}{# Vide pour ne pas afficher l'image en grande taille #}
{% endblock %}    


{% block content %}
<div class="container"> 
    <div class="row">  
        <div class="col-md-6 col-md-offset-3">   
            
            <!-- Modification du titre selon création/édition -->
            {% if nom is not null %}
                <h1>Edition de l'équipe {{ lib_Equipe }}: {{ nom }}</h1>
            {% else %}    
                <h1>Création d'une équipe {{ lib_Equipe }}</h1>
            {% endif %}
            
            {{ form_start(form) }}{# ouvre la balise form #}
            {{ form_row(form.nom) }}
            {{ form_row(form.image) }}
             {% if form.vars.value.image is not null %}
        <p>Actuellement : <img src="{{ asset('upload/' ~ form.vars.value.image.filename) }}" width="100px"></p>
        {{ form_row(form.remove_image) }}
    {% endif %} 
            <div class="form-btn-group">
                <button type="submit" class="btn btn-primary">
                    Enregistrer
                </button>
                <a href="{{ path('app_admin_equipe_index') }}" class="btn btn-default">Retour</a>
            </div>
        </div>
    </div> 
</div>     
    {{ form_end(form) }}{# ferme la balise form #}
{% endblock %}
